<h3>Register to start giving/receiving resources and supplies for FREE!</h3>

<form action="/teachers" method="POST" class="new-teacher-form">
  <input type="text" name="teacher[name]" placeholder="Name:">
  <input type="text" name="teacher[address]" placeholder="School Address:">
  <input type="text" name="teacher[email]" placeholder="Email:">
  <input type="password" name="teacher[password]" placeholder="Password:">
  <input type="submit" value="Login Me In!">
</form>
