<h2>Welcome, <%=@teacher.name%></h2>
Here are your resource links:
<% @teacher.resources.each do |resource| %>
  <!-- resource link -->
  <!-- <a href="categories//resources/<%=resource.id%>/edit">Register</a> -->
<% end %>
