<h3>Your "trash" is another teacher's <b>TREASURE</b></h3>
<form action="/categories/<%=@category.id%>/resources" method="POST" class="new-resource-form">
  <input type="text" name="name" placeholder="type of resource">
  <input type="text" name="description" placeholder="Describe the resource">
  <input type="submit" value="Make a difference!">
</form>
