

<div class="Resource-info">
  <h1><%= @resource.name %></h1>
  <b>Description:</b> <%= @resource.description %><br>
  <b>Giving Teacher:</b> <%= @resource.giver.name %><br>
  <b>Pickup Address:</b> <%= @resource.giver.address %><br>
  <br><br>
</div>
