<div>
  <br><h1>All Categories!</h1>
</div>

<div class="category-buttons">
  <% @categories.each do |category| %>
    <br><a class="button" href="/categories/<%=category.id%>"><%=category.subject%></a>
  <% end %>
</div>
